{% extends "layout.njk" %}

{% block title %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block links %}
    <a href="/about">Sobre</a>
    <a href="/recipes" class="active">Receita</a>
{% endblock %}

{% block content %}
        <section class="content-recipes">
            <div class="grid-recipes">
                {% for item in items %}
                    <div class="recipe" id="docinho">
                        <div class="recipe-img">
                            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                        </div>

                        <div class="recipe-info">
                            <h2>{{item.title}}</h2>
                            <p>por {{item.author}}</p>
                        </div>
                    </div>
                {% endfor %}
                
                {% for item in items %}
                    <div class="recipe" id="docinho">
                        <div class="recipe-img">
                            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                        </div>

                        <div class="recipe-info">
                            <h2>{{item.title}}</h2>
                            <p>por {{item.author}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    {% block script%}
        <script src="scripts.js"></script>
    {% endblock %}
{% endblock %}